<!-- views/partials/sidebar.ejs -->
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="<%= base %>/">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">GPAO<sup><%= version %></sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="<%= base %>/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
          Projets
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Créer un projet</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="javascript:document.getElementById('file-json').click();">Fichier Json</a>
              <input id="file-json" type="file" accept=".json" name="name" onchange="jsonChanged(this.files[0])" style="display: none;" />
              <a class="collapse-item" data-toggle="modal" data-target="#importTxt">Fichier Texte</a>
              <a class="collapse-item" data-toggle="modal" data-target="#inputProject">Liste de commande</a>
            </div>
          </div>
        </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

        <!-- Heading -->
        <div class="sidebar-heading">
          Liens
        </div>
    
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/ign-gpao/" target="_blank">
            <i class="fab fa-github"></i>
            <span>GitHub</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://github.com/ign-gpao/client/releases">
            <i class="fab fa-python"></i>
            <span>Client GPAO</span>
          </a>
        </li>
    
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

        <!-- Heading -->
        <div class="sidebar-heading">
          Maintenance
        </div>

        <li class="nav-item">
          <a class="nav-link" href="javascript:cleanDatabase();">
            <i class="fas fa-trash-restore"></i>
            <span>Vider la base</span>
          </a>
        </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Collapse Url Api -->
    <div id="collapseTrigger" class="row align-items-center position-fixed rounded-right m-0 mb-4 p-2" style="z-index: 1; bottom: 0; background-color: #1d3b95;">
      <a id="collapseUrl" class="collapse width text-light pr-2" href="<%= api %>/api/doc/"><%= api %>/api/doc/</a>
      <img src="/images/swagger.png" alt="logo" width="25">
    </div>

  </ul>
  <!-- End of Sidebar -->

<!-- Popups of Sidebar -->
<%- include ("../../popups/popup_import_project_from_txt") %>
<%- include ("../../popups/popup_input_project") %>

<script>
  // Event hover sur le lien Url API
  $("#collapseTrigger").hover(
  function() {
      $('#collapseUrl').collapse('show');
    }, function() {
      $('#collapseUrl').collapse('hide');
    }
  );
</script>