<div class="card shadow mb-4 border-left-primary h-100 py-2">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Jobs</h6>
  </div>
  <div class="card-body">
    <label>Filtrer par projets :</label>
    <select name="projects" id="project-select">
        <option value="-1">-- Tous les projets --</option>
        <% projects.forEach(function( project ){ %>
          <option value="<%= project.id %>"><%= project.id %> - <%= project.name %></option>
        <% }) %>
    </select>
    <div class="table-responsive">
      <table class="table table-bordered table-striped" id="dataTable" cellspacing="0">
      </table>
    </div>
  </div>
</div>
<script>

$(document).ready(function() {
    const data = JSON.parse('<%- data %>');
    const columns = JSON.parse('<%- columns %>');

    var table = $('#dataTable').DataTable( {
        "language": {
            "lengthMenu": "Afficher _MENU_ par page",
            "zeroRecords": "Aucun éléments",
            "info": "Page _PAGE_ sur _PAGES_",
            "infoEmpty": "Aucun enregistrement disponible",
            "infoFiltered": "(filtered from _MAX_ total records)",
            "search": "Rechercher",
            "paginate": {
                "first":	"Premier",
                "previous":	"Pr&eacute;c&eacute;dent",
                "next":	"Suivant",
                "last":	"Dernier"
            }
        },
        "order": [[ 0, "asc" ]],
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Tous"]],
        "pageLength": 100,
        "dom": '<"d-flex"<"mr-auto p-2"l<"toolbar_tab">><"p-2"f>>t<"d-flex"<"mr-auto p-2"i><"p-2"p>>',
        "data": data,
        "columns": columns,
        "createdRow": function( row, data, dataIndex, cells ) {
            if (data.job_status !== 'failed')
                $('button', cells[9])[1].style.visibility = "hidden";
        },
        "rowCallback": function( row, data, index ) {
            var status = data.job_status;
            switch(status){
                case "failed":
                    $('td', row).addClass('text-danger');
                    break;
                case "running":
                    $('td', row).addClass('text-warning');
                    break;
                case "waiting":
                    $('td', row).addClass('text-secondary');
                    break;
                case "done":
                    $('td', row).addClass('text-success');
                    break;
                case "ready":
                    $('td', row).addClass('text-primary');
                    break;
            }
        }
    } 
    );
    // Add event listener for actions
    $('#dataTable tbody').on('click', 'button.view_job', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
        window.location.href = `/job/${row.data().job_id}`;
    } );
    $('#dataTable tbody').on('click', 'button.reinit_job', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
        if (row.data().job_status == 'failed')
            reinitJobs([row.data().job_id]);
    } );

    var i = jQuery('<i></i>');
    i.addClass('fas fa-sync-alt fa-1x')

    var button = jQuery('<button></button>');
    button.addClass('btn btn-warning');
    button.attr('type', 'button')
          .attr('data-toggle', "tooltip")
          .attr('title', 'Réinitialise tous les jobs en échecs')
          .attr('onclick', 'reinitAllJobs()')
          .append(i)
          .append(' Réinitialiser les jobs en échecs');
    $("div.toolbar_tab").append(button);
    var table = $('#dataTable').DataTable();
    $('#project-select').change( function() {
        table.draw();
    } );

} );

  $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var project_id = $('#project-select').val()
        if(project_id == -1){
          return true;
        }else if(data[7] === project_id){
          return true
        }else{
          return false
        }
    }
);
</script>