<div class="card shadow mb-4 border-left-primary h-100 py-2">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Jobs <span class="far fa-question-circle collapse-item text-dark" data-toggle="modal" data-target="#jobStatusInfo"></span></h6>
  </div>
  <div class="card-body">
    <div class="btn-toolbar ml-1 mb-3"> 
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <label class="input-group-text">Filtrer par projets</label>
        </div>
        <select class="custom-select" name="projects" id="project-select">
          <option value="-1">-- Tous les projets --</option>
          <% projects.forEach(function( project ){ %>
            <option value="<%= project.project_id %>"  <%if (filter && filter==project.project_id) {%>  selected <%}%> > 
              <%= project.project_id %> - <%= project.project_name %>
            </option>
          <% }) %>
        </select>    
      </div>  
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped" id="dataTable" cellspacing="0">
      </table>
    </div>
  </div>
</div>
<script>

$(document).ready(function() {
    const data = <%- data %>;
    const columns = JSON.parse('<%- columns %>');
    var table = $('#dataTable').DataTable( {
        "language": {
            "lengthMenu": "Afficher _MENU_ par page",
            "zeroRecords": "Aucun éléments",
            "info": "Page _PAGE_ sur _PAGES_",
            "infoEmpty": "Aucun enregistrement disponible",
            "infoFiltered": "(filtered from _MAX_ total records)",
            "search": "Rechercher",
            "paginate": {
                "first":	"Premier",
                "previous":	"Pr&eacute;c&eacute;dent",
                "next":	"Suivant",
                "last":	"Dernier"
            }
        },
        "order": [[ 0, "asc" ]],
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Tous"]],
        "pageLength": 100,
        "dom": '<"d-flex m-1"<"mr-auto"l><f>><"d-flex m-1"<"mr-auto toolbar_tab"><p>>t<"d-flex m-1"<"mr-auto"i><p>>',
        "data": data,
        "columns": columns,
        "autoWidth": false,
        "createdRow": function( row, data, dataIndex, cells ) {
            if (data.job_status !== 'failed')
                $('button', cells[10])[0].style.visibility = "hidden";
        },
        "rowCallback": function( row, data, index ) {
            var job_id = $('td:eq(0)', row);
            job_id.html('<a href="<%= base %>/job/'+data.job_id+'">'+data.job_id+'</a>')

            var job_name = $('td:eq(1)', row);
            job_name.html('<a href="<%= base %>/job/'+data.job_id+'">'+data.job_name+'</a>')

            var project_id = $('td:eq(7)', row);
            project_id.html('<a href="<%= base %>/project/'+data.job_id_project+'">'+data.job_id_project+'</a>')

            var project_name = $('td:eq(8)', row);
            project_name.html('<a href="<%= base %>/project/'+data.job_id_project+'">'+data.project_name+'</a>')

            var status = data.job_status;
            switch(status){
                case "failed":
                    $('td, a', row).addClass('text-danger');
                    break;
                case "running":
                    $('td, a', row).addClass('text-warning');
                    break;
                case "waiting":
                    $('td, a', row).addClass('text-secondary');
                    break;
                case "done":
                    $('td, a', row).addClass('text-success');
                    break;
                case "ready":
                    $('td, a', row).addClass('text-primary');
                    break;
            }
        }
    } 
    );
    // Add event listener for actions
    $('#dataTable tbody').on('click', 'button.reinit_job', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
        if (row.data().job_status == 'failed')
            reinitJobs({"ids":[row.data().job_id]});
    } );

    var i = jQuery('<i></i>');
    i.addClass('fas fa-sync-alt fa-1x')

    var button = jQuery('<button></button>');
    button.addClass('btn btn-warning');
    button.attr('type', 'button')
          .attr('data-toggle', "tooltip")
          .attr('title', 'Réinitialise tous les jobs en échecs visibles')
          .attr('onclick', 'reinitFilteredJobs($("#dataTable").DataTable())')
          .append(i)
          .append(' Réinitialiser les jobs en échecs visibles');
    $("div.toolbar_tab").append(button);
    
    var table = $('#dataTable').DataTable();
    $('#project-select').change( function() {
        table.draw();
    } );

} );

  $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var project_id = $('#project-select').val()
        if(project_id == -1){
          return true;
        }else if(data[7] === project_id){
          return true
        }else{
          return false
        }
    }
);
</script>