<!-- views/partials/jobs_info.ejs -->
<div class="col-lg-6 mb-4">

    <!-- Project Card Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Avancement des jobs</h6>
    </div>
    <div class="card-body">
      <h4 class="small font-weight-bold">Jobs Prêts<span id="job_status_ready_value" class="float-right"></span></h4>
      <div class="progress mb-4">
          <div id="job_status_ready_pg" class="progress-bar bg-primary" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <h4 class="small font-weight-bold">Jobs en cours<span id="job_status_running_value" class="float-right"></span></h4>
      <div class="progress mb-4">
          <div id="job_status_running_pg" class="progress-bar bg-warning" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <h4 class="small font-weight-bold">Jobs en attente<span id="job_status_waiting_value" class="float-right"></span></h4>
      <div class="progress mb-4">
          <div id="job_status_waiting_pg" class="progress-bar bg-secondary" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <h4 class="small font-weight-bold">Jobs Terminés<span id="job_status_done_value" class="float-right"></span></h4>
      <div class="progress mb-4">
          <div id="job_status_done_pg" class="progress-bar bg-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <h4 class="small font-weight-bold">Jobs en echecs<span id="job_status_failed_value" class="float-right"><script>percent(<%= jobStatus.failed %>, <%= jobStatus.total %>);</script>%</span></h4>
      <div class="progress mb-4">
          <div id="job_status_failed_pg" class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {  
      $('#job_status_ready_pg').attr('style', 'width: '+percent(<%= jobStatus.ready %>, <%= jobStatus.total %>)+"%");
      $('#job_status_ready_value').text("<%= jobStatus.ready %> jobs prêt sur <%= jobStatus.total %> au total, soit " + percent(<%= jobStatus.ready %>, <%= jobStatus.total %>)+"%");

      $('#job_status_running_pg').attr('style', 'width: '+percent(<%= jobStatus.running %>, <%= jobStatus.total %>)+"%");
      $('#job_status_running_value').text("<%= jobStatus.running %> jobs en cours sur <%= jobStatus.total %> au total, soit " + percent(<%= jobStatus.running %>, <%= jobStatus.total %>)+"%");

      $('#job_status_waiting_pg').attr('style', 'width: '+percent(<%= jobStatus.waiting %>, <%= jobStatus.total %>)+"%");
      $('#job_status_waiting_value').text("<%= jobStatus.waiting %> jobs en attente sur <%= jobStatus.total %> au total, soit " + percent(<%= jobStatus.waiting %>, <%= jobStatus.total %>)+"%");
      

      $('#job_status_done_pg').attr('style', 'width: '+percent(<%= jobStatus.done %>, <%= jobStatus.total %>)+"%");
      $('#job_status_done_value').text("<%= jobStatus.done %> jobs terminés sur <%= jobStatus.total %> au total, soit " + percent(<%= jobStatus.done %>, <%= jobStatus.total %>)+"%");

      $('#job_status_failed_pg').attr('style', 'width: '+percent(<%= jobStatus.failed %>, <%= jobStatus.total %>)+"%");
      $('#job_status_failed_value').text("<%= jobStatus.failed %> jobs échoués sur <%= jobStatus.total %> au total, soit " + percent(<%= jobStatus.failed %>, <%= jobStatus.total %>)+"%");
  } );
  </script>