<!-- views/partials/projects_info.ejs -->
<!-- Content Column -->
<div class="col-lg-6 mb-4">

    <!-- Project Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-warning">Avancement des projets</h6>
      </div>
      <div id="no-elements" class="card-body">
          <% projects.forEach(function( project ){ %>
              <h4 class="small font-weight-bold"><%= project.name %><span id="topbar_project_value_<%= project.id_project %>" class="float-right">0%</span></h4>
              <div class="progress mb-4">
                  <div id="topbar_project_pg_<%= project.id_project %>" class="progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          <% }) %>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {  
      <% projects.forEach(function( project ){ %>
        $('#topbar_project_pg_<%= project.id_project %>').attr('style', 'width: '+percent(<%= project.done %>, <%= project.total %>)+"%");
        $('#topbar_project_value_<%= project.id_project %>').text("<%= project.done %> jobs traités sur <%= project.total %> au total, soit " + percent(<%= project.done %>, <%= project.total %>)+"%");
      <% }) %>
      <% if (projects.length==0) { %>
          $('#no-elements').append( "<strong>Aucun projet dans la base</strong>" );
        <% } %>
    } );
    </script>