<!-- views/partials/projects_info.ejs -->
<!-- Content Column -->
<div class="col-lg-6 mb-4">

  <!-- Project Card Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-dark">Avancement des projets <a class="far fa-question-circle collapse-item" data-toggle="modal" data-target="#projectsProgressInfo"></a></h6>
    </div>
    <div id="no-elements" class="card-body">
        <% projects.forEach(function( project ){ %>
            <div class="d-flex justify-content-between m-0" >
              <h4 class="small font-weight-bold p-0"><a class="text-secondary" href="<%= base %>/project/<%= project.project_id %>" style="word-break: break-all;"><%= project.project_name %></a></h4>
              <table class=" ml-2 mb-1" style=" white-space: nowrap;">
                <tr>
                  <td id="nb_ready_<%= project.project_id %>" class="text-primary border-right pr-1 pl-1"></td>
                  <td id="nb_waiting_<%= project.project_id %>" class="text-secondary border-right pr-1 pl-1"></td>
                  <td id="nb_running_<%= project.project_id %>" class="text-warning border-right pr-1 pl-1"></td>
                  <td id="nb_done_<%= project.project_id %>" class="text-success border-right pr-1 pl-1"></td>
                  <td id="nb_failed_<%= project.project_id %>" class="text-danger border-right pr-1 pl-1"></td>
                  <td id="nb_total_<%= project.project_id %>" class="text-secondary pr-1 pl-1"></td>
                </tr>
              </table>
            </div>
            <div class="progress mb-4">
              <div id="topbar_project_pg_done_<%= project.project_id %>" class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              <div id="topbar_project_pg_failed_<%= project.project_id %>" class="progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              <div id="topbar_project_pg_running_<%= project.project_id %>" class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        <% }) %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {  
    <% projects.forEach(function( project ){ %>
      $('#nb_ready_<%= project.project_id %>').text("<%= project.ready %>");
      $('#nb_waiting_<%= project.project_id %>').text("<%= project.waiting %>");
      $('#nb_running_<%= project.project_id %>').text("<%= project.running %>");
      $('#nb_done_<%= project.project_id %>').text("<%= project.done %>");
      $('#nb_failed_<%= project.project_id %>').text("<%= project.failed %>");
      $('#nb_total_<%= project.project_id %>').text("sur <%= project.total %>");
      
      $('#topbar_project_pg_done_<%= project.project_id %>').attr('style', 'width: '+percent(<%= project.done %>, <%= project.total %>)+"%");
      $('#topbar_project_pg_done_<%= project.project_id %>').text(percent(<%= project.done %>, <%= project.total %>)+"%");
      $('#topbar_project_pg_failed_<%= project.project_id %>').attr('style', 'width: '+percent(<%= project.failed %>, <%= project.total %>)+"%");
      $('#topbar_project_pg_failed_<%= project.project_id%>').text(percent(<%= project.failed %>, <%= project.total %>)+"%");
      $('#topbar_project_pg_running_<%= project.project_id %>').attr('style', 'width: '+percent(<%= project.running %>, <%= project.total %>)+"%");
      $('#topbar_project_pg_running_<%= project.project_id %>').text(percent(<%= project.running %>, <%= project.total %>)+"%");

      if (<%= project.failed %> >0) {
        $('#nb_failed_<%= project.project_id %>').append(" <i class='fa fa-exclamation-triangle' aria-hidden='true'></i>");
      }

      if (<%= project.running%> >0) {
        $('#nb_running_<%= project.project_id %>').append(' <div class="spinner-border spinner-border-sm text-warning" role="status"><span class="sr-only">Loading...</span></div>');
      }
    <% }) %>
    <% if (projects.length==0) { %>
        $('#no-elements').append( "<strong>Aucun projet dans la base</strong>" );
      <% } %>
  } );
  </script>